@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  outline: transparent;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

#main-heading {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  color: rgb(68, 82, 251);
}

#heading-subtext {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.editparts {
  width: 40%;
  float: right;
  padding: 30px;
  height: 800px;
}

canvas {
  border: 2px solid #383c47;
  display: inline-block;
  margin-top: 2rem;
  border-radius: 4px;
  background: url('public/image-illustration.svg') no-repeat center;
}

input[type='file'] {
  display: inline-block;
  background-color: #fff;
  color: #252932;
  padding: 10px 20px;
  border-radius: 5px;
}

.icon {
  font-size: 5rem;
}

input[type='checkbox'] {
  position: relative;
  width: 50px;
  height: 25px;
  background-color: #49494d;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
  display: inline-block;
}

input:checked[type='checkbox'] {
  background-color: #30fcff;
  outline: none;
  padding-left: 10px;
}

input[type='checkbox']:before {
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;

  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

input:checked[type='checkbox']:before {
  left: 25px;
  transition: 0.5s;
}

input[type='range'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 2px;
  width: 65%;
  margin-top: 2rem;
  background-color: black;
  border-radius: 20px;
  outline: transparent;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 100%;
  outline: transparent;
}

input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #e1a1ff;
  cursor: pointer;
  border-radius: 25%;
  border: none;
  outline: transparent;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

tr td {
  padding: 10px;
}

#instructions-heading {
  color: #adc6ff;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 30px;
  border-bottom: solid;
}

#instructions {
  margin-top: 10px;
  margin-left: 50px;
  font-size: 20px;
}

ol li {
  padding: 10px;
}

.main-display {
  display: flex;
  flex-direction: column;
  background-color: #252932;
  padding: 2rem;
  max-width: 100%;
}

.viewport {
  max-height: 60%;
}

.button-row {
  justify-content: space-evenly;
  margin-top: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(37, 41, 50);
}

.tool-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  min-height: 6rem;
  width: 90%;
  background: linear-gradient(
    135deg,
    rgb(0, 0, 0, 0.2) 0%,
    rgb(0, 0, 0, 0.4) 100%
  );
  border-radius: 10px;
}

.tools-help {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.right {
  background: linear-gradient(135deg, #4b6cb7 0%, #182848 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100vw;
}

.right-container {
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-family: 'Lobster', cursive;
}

p {
  font-weight: 100;
}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  cursor: pointer;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  border-radius: 5px;
  background-color: #ff57da;
  border: none;
  transition: .3s ease all;
}

.custom-file-upload:hover {
  background-color: #d43db4;
  transform: translateY(-5px);

}

.download-button {
  display: none;
  margin-top: 1em;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #252932;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: #f8cf40;
  border: none;
  transition: .3s ease all;
}

.download-button:hover {
  background-color: #d3b031;
  transform: translateY(-5px);

}

.title {
  background: linear-gradient(#ff57da, #f8cf40);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fas {
  margin-right: 0.5em;
}

.help {
  font-weight: 100;
  color: #adc6ff;
}

a {
  text-decoration: none;
  color: #adc6ff;
}

.footer {
  padding: 15px 0px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  border-radius: 10px;
  background-color: #252932;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 1rem;
  /* width: 95%; */
  border: 1px solid;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 3rem;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Remove Default Style */
button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.tools {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

@media (max-width: 880px) {
  input[type='checkbox'] {
    margin-right: 1rem;
  }
  
  input[type='range'] {
    margin-bottom: 0.5rem;
  }

  .main-display {
    width: 100%;
  }

  .right-container {
    margin-top: 2rem;
    width: 90%;
    justify-content: space-between;
  }

  .tools {
    width: 100%;
  }

  .tool {
    align-items: center;
    width: 100%;
    padding: 1em;
    margin-top: 0.5em;
  }

  .modal-content {
    max-width: 90%; /* Could be more or less, depending on screen size */
    padding: 2rem 1rem;
  }
}

@media (min-width: 880px) {
  .container {
    flex-direction: row;
  }

  .main-display {
    width: 50vw;
    height: 100vh;
  }

  .button-row {
    display: flex;
  }

  .download-button {
    margin-top: 0;
    margin-left: 1em;
    width: auto;
  }

  .right {
    width: 50vw;
    height: 100vh;
  }

  .right-container {
    width: auto;
  }

  .tools {
    display: grid;
  }
  
  .tool {
    height: 12rem;
    width: 12rem;
  }

  .tool-name {
    padding-top: 1em;
  }

  .tool-toggle {
    flex-direction: column;
  }

  .modal-content {
    max-width: 60%; /* Could be more or less, depending on screen size */
    padding: 3rem;
  }
}

.reset {
  margin-top: 10px;
  text-align: center;
}

#reset {
	cursor: pointer;
}

.disabled {
  pointer-events:none; 
  opacity: 0.4;
}